; ______                               _____ _____ ______ 
; | ___ \Eu posso,eu quero,eu consigo /  ___/  __ \| ___ \
; | |_/ /___  _ __ ___   ___ _ __ __ _\ `--.| /  \/| |_/ /
; |    // _ \| '_ ` _ \ / _ \ '__/ _` |`--. \ |    |    / 
; | |\ \ (_) | | | | | |  __/ | | (_| /\__/ / \__/\| |\ \ 
; \_| \_\___/|_| |_| |_|\___|_|  \__,_\____/ \____/\_| \_|                                                                                                        
;             Feito dia 27/04/2023 
;#########################################################

; ID DO BOT DO DISCORD
BOT_TOKEN=MTM3ODUyMTU4NDcxMjU0ODQzMg.GVZ_10.jF1jW-jiijWXOk-Bh1m12RmJXd2UpWVQgTHb-Y

LOGO=https://media.discordapp.net/attachments/1378519285340835915/1378533865668345886/ChatGPT_Image_31_de_mai._de_2025_18_50_28.png?ex=683d9bf5&is=683c4a75&hm=a1e8e22a8bef671aa93d1d063ddb86d2009b60deb413c82484e6511a39f76475&=&format=webp&quality=lossless&width=968&height=968
# -----------------------------------------------------------------------------------
# --------CONFIGURAÇÃO DO BANCO DE DADOS
# -----------------------------------------------------------------------------------
; IP DO BANCO DE DADOS - DEIXAR 127.0.0.1 SE O BANCO ESTIVER NO MESMO LUGAR QUE O BOT
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=floradb
TABLE_USERS=vrp_users
COLUM_WHITELIST=whitelist

# -----------------------------------------------------------------------------------
# --------CONFIGURAÇÃO DO CONNECT DA CIDADE
# -----------------------------------------------------------------------------------
CANAL_CONNECTID=1378519282228658301
IP_SERVIDOR=45.40.99.16:30120
FIVEMURL=https://cfx.re/join/8yzq65
TITULO=**121 RJ - SEASON 1 **
IP_SERVER=connect cfx.re/join/8yzq65
LOJAURL=https://fxstore.com.br/
TIKTOKURL=https://fxstore.com.br/
BANNERCONNECT=https://media.discordapp.net/attachments/1378519285340835915/1378748685680381962/Blue_Animated_Thank_You_Video.jpg?ex=683dbb46&is=683c69c6&hm=46f28b403dd8387b478b33ab24bb0b2e3d7b6d2d5c3207445c0b2e5bf70d2f2b&=&format=webp&width=1536&height=864
# -----------------------------------------------------------------------------------
# --------CONFIGURAÇÃO DA WHITELIST DA CIDADE
# -----------------------------------------------------------------------------------
CANAL_WHITELIST=1378519282475860049
CARGO_VISITANTE=1378519278936129637
CARGO_CIDADAO=1378519278936129640
CANAL_APROVADOS=1378519282228658306
CANAL_BEMVINDO=1378519282228658299
TITULOWL= SISTEMA DE WL AUTOMÁTICA - 121 RJ
BANNERWL=https://media.discordapp.net/attachments/1378519285340835915/1378748685680381962/Blue_Animated_Thank_You_Video.jpg?ex=683dbb46&is=683c69c6&hm=46f28b403dd8387b478b33ab24bb0b2e3d7b6d2d5c3207445c0b2e5bf70d2f2b&=&format=webp&width=1536&height=864
# -----------------------------------------------------------------------------------
# --------CONFIGURAÇÃO DO SISTEMA DE TICKET
# -----------------------------------------------------------------------------------
PATH_TRANSCRIPT=
URL_TRANSCRIPT=https://cdn.031rp.com.br/transcripts
CATEGORIA_TICKETID=1378519284510101647
CANAL_TICKETID=1378519284300513405
CARGO_TICKET=1378519278969421948
CARGO_STAFF=1378519278969421948
CANAL_LOG_TKT=1378519285516865609
CANAL_TRANSCRIPT=1378519285516865609
BANNERTK=https://media.discordapp.net/attachments/1378519285340835915/1378748685680381962/Blue_Animated_Thank_You_Video.jpg?ex=683dbb46&is=683c69c6&hm=46f28b403dd8387b478b33ab24bb0b2e3d7b6d2d5c3207445c0b2e5bf70d2f2b&=&format=webp&width=1536&height=864

# -----------------------------------------------------------------------------------
# --------CONFIGURAÇÃO DO REMOTE CONSOLE
# -----------------------------------------------------------------------------------

RCARGO=1378519279066022008
RCON_HOST=localhost
RCON_PORT=30120
RCON_PASSWORD=Senha@Roleplay2025
CANALCONSOLE=1378521356592877669
PREFIX=$